/* import font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins&family=Roboto&display=swap');


/* root styling */
:root{
    --light: transparent;
    --secondary: #adb5bd;
    --dark: #343a40;
    --primary-color: #F8F8FF;
    --secondary-color: #2ec4b6;
    --border: #e9ecef;
}

body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background-image: url("Images/background.png");
    background-attachment: fixed;
}

a{
    text-decoration: none;
}

*>*{
    box-sizing: border-box;
}

/* global styling */
.text-light{
    color: var(--light);
}

.text-secondary{
    color: var(--secondary);
}

.text-dark{
    color: var(--dark);
}

.text-primary{
    color: var(--primary-color);
}

.bg-light{
    background-color: var(--light);
}

.container{
    max-width: 1800px;
    padding: 20px;
    margin: auto;
}


/* section styling  */
/*------ Navigation menu------ */
.navbar{
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    
}

.nav-brand{
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    align-self: center;
    font-size: 32px;
}

.collapse{
    align-items: center;
    margin:20px;
}

.nav-link{
    font-size: 18px;
    margin: 12px;
    color: var(--dark);
    font-family: 'Poppins', sans-serif;
}

.search-box{
    display: inline;
    /* border-right: 1px solid var(--secondary); */
    padding-right: 12px;
    margin-right: 10px;
}

.nav-link:hover{
    color: var(--primary-color);
}

.nav-link:active{
    color: #2ec4b6;
}

.toggle-button{
    font-size: 21px;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    margin: 8px 10px;
    display: none;
}

.toggle-button:focus{
    outline: none;
}

.main-logo img{
    display: block;
    width: 200px;
    background: transparent;

}
/*------ Navigation menu------ */

/* Media Query */
@media(max-width: 900px){
    .navbar{
        flex-direction: column;
        
    }
}

@media(max-width: 574px){
    .toggle-button{
        display: initial;
        margin-top: 42px;
    }

    .collapse{
        max-height: 0;
        overflow: hidden;
        transition: all 0.8s cubic-bezier(0.51,-0.15,0,0.98);
        width:175px;
        display: flex;
        text-align: left;
        align-items: left;
        justify-content: left;
        vertical-align: left;
    }

    .collapse.nav-link{
        display: flex;
        text-align: left;
        align-items: left;
        justify-content: left;
        vertical-align: left;
        


    }

    .search-box{
        border-right: none;
    }

    .collapse-toggle{
        max-height: 900px;
        width:185px;
       

    }
}

/* Main page */

.home-content{
    background-image: url(Images/textured\ background.png);
    /* border: 1px solid rosybrown; */
    border-radius: 5px 50px;
    display: flex;
    justify-content: space-between;
    padding: 25px;
    width: 85%;
    margin: 8rem auto 0 auto;
    margin-bottom: 140px;
}
.text-home{
    width: 100%;
}
.text-home img{
    max-height: 300px;
    max-width: 100%;
    float: right;
    margin-left: 50px;
    margin-top: 10px;
    border-radius: 15px;

}

.home-content h1{
    margin: 0;
    margin-top: 20px;
    font-size: xxx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 15px;
}
.home-content h4{
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
    margin-left: 15px;
    font-size: 25px;
}


.home-content p{
    margin-right: 15px;
    font-size: 19px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    margin-left: 15px;
}
/* /Main Page-articles */

.recent-articles{
    margin-top: 100px;

    position:relative;
    display:flex;
    justify-content: space-evenly;
    overflow: hidden;
    padding: 20px;

    
}


.recent-articles p{
    margin-top: 20px;
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;

}

.article-c{
    max-width: 270px;
    
}

/* Media Query articles*/
@media(max-width: 1200px){
    .recent-articles{
        flex-direction: column;
        width: 540px;
        
    }
}

/* Gallery */

/* import font */
@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

.gallery{
    display: flex;
    resize: both;
    width: auto;
    max-width: 100%;
    height: auto;
    max-height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 40px 20px 0 20px;
}

.gallery .heading{
    width: 50%;
    padding-bottom: 50px;
}

.gallery .heading h3{
    font-size: 4em;
    font-weight: bolder;
    padding-bottom: 10px;
    border-bottom: 3px solid #222;
}

.gallery .heading h3 span{
    font-weight: 10;
    
}

.gallery .box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.gallery .box .photo{
    display: flex;
    flex-direction: column;
    width: 32.5%;
}

.gallery .box .photo Gallery{
    width: 100%;
    max-width: 100%;
    padding-bottom: 15px;
    border-radius: 5px;
}

@media only screen and (max-width: 769px){
    .gallery .box{
        flex-direction: row; 
    }

    .gallery .box .photo{
        width: 100%;
    }
}

@media only screen and (max-width: 888px){
    gallery .heading{
        width: 100%;
        
    }
    
    .gallery .heading h3{
        font-size: 1em;
    
    }
}

/* footer */

.footer-c{
    height: min-content;
}
.footer-container{
    
    height: auto;
    width: auto;

    background-color:#aebfbd;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 100px;
    padding: 20px;
}


.footer-element{
    padding: 20px;
    width: 30%;


}

.footer-links a{
    color: #000000;
}

.table{
    border-collapse: collapse;
}
.table td{
    border-style: solid;
    border-width: 0px 0px 2px 0px;
    padding:8px;
    width:40%;
    
}

.footer-links a:hover{
    color:#ffffff;
}

.footer-links a:active{
    color: #76a587;
}

.footer-copyright{
    background-color: #929f9e;
    height: 50px;
    width: auto;
    text-align: center;
    padding-top: 8px;
    


}

.footer-copyright p{
 margin: 0;

}


.footer-copyright a:hover{
    color:#ffffff;
}

.footer-copyright a:active{
    color: #4CAF50;
}

.footer-copyright a{
    color:#000000;
}

/* Article  page*/
.Article{
    /* background-color: peachpuff; */
    /* background-image: url(../../Images/article-background1.png); */
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    width: 70%;
    margin: 2rem auto 0 auto;
    margin-bottom: 80px;
}

.article-1{
    width: 100%;
}

.article-1 img {
    max-height: 500px;
    max-width: 200%;
    margin-left: 85px;
    margin-top: 30px;
    border-radius: 20px;
}

.Article p{
    width: 85%;
    margin-left: 85px;
    margin-top: 20px;
    text-align: justify;
}

.Article iframe{
    margin-top: 25px;
    margin-left: 250px;
    margin-bottom: 30px;
}
/* Contact us */

.contact-c{
    display: block;
    flex-direction: row;
    height: min-content;
    justify-content: center;
    justify-items: center;
    margin: auto;
    background-image: url(Images/textured\ background.png);
    border-radius: 10px 60px;
    margin-bottom: 275px;
    max-width: 80%;
    width: auto;
}
.contact-container{
    
    height: auto;


    
    display: flex;
    flex-direction: row;


    margin-top: 100px;
    padding: 20px;
}


.contact-element1{
    padding: 20px;
    width: 20%;
}

.contact-element2{
    padding: 20px;
    width: 30%;
    margin-left: 8%;
}

.contact-element3{
    padding: 20px;
    width: 50%;
    margin-left: 6%;
}

.contact-c a{
    color: #000000;
}

.contact-c a:hover{
    color:#76a587;
}

.contact-map p{
    margin: 20px 0px;
}
#map{
    height: 300px;
    width: 500px;
    max-height: 100%;
    max-width: 100%;
    float: left;

}

/* Media Query articles*/
@media(max-width: 873px){
    .contact-c{
        flex-direction: column;
        max-width: 90%;
    }
    .contact-container{
    
        height: auto;
    
    
        display: flex;
        flex-direction: column;
        justify-items: center;
        margin-top: 100px;
        padding: 20px;
        max-width: 90%;
        width: auto;
    }
    .contact-element1{
        padding: 20px;
        width: 100%;
    }
    .contact-element2{
        padding: 20px;
        width: 100%;
        margin-left: 0px;
    }
    
    .contact-element3{
        padding: 20px;
        width: 100%;
        margin-left: 0px;
    }

    #map{
        height: 400px;
        width: 600px;
        max-height: 100%;
        max-width: 100%;
        float: left;
    }
    
}


/* join us */
form{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    justify-content: center;
}
.container-form {
    display: flex;
    flex-direction: column;  
    justify-content: center;
    padding: 20px;  
    max-width: 100%;
    background-color: #aebfbd;  
    width: 50%;
    border-radius: 10px;
}  
  
input[type=text], input[type=password], textarea {  
  width: 100%;  
  padding: 15px;  
  margin: 5px 0 22px 0;  
  display: inline-block;  
  border: none;  
  background: #f1f1f1;  
  border-radius: 10px;
}  
input[type=text]:focus, input[type=password]:focus {  
  background-color: #e8eafb;  
  outline: none;  
}  


.container-form div {  
            padding: 10px 0;  
         }  
.container-form hr {  
  border: 1px solid #f1f1f1;  
  margin-bottom: 25px; 
  margin-top: 20px; 
}  
.registerbtn {  
  background-color: #4CAF50;  
  color: white;  
  padding: 16px 20px;  
  margin: 8px 0;  
  border: none;  
  cursor: pointer;  
  width: 100%;  
  opacity: 0.9;  
  border-radius: 10px;
  
}  
.registerbtn:hover {  
  opacity: 1;  
}  

.container-form select {
    appearance: none;
    width: 30%;
    
    background-color: #f1f1f1;
    color:#54585b;
    border: none;
    padding: 10px 1em 10px 0;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
    margin: 20px;
    border-radius: 10px;

  }