/* import font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Poppins&family=Roboto&display=swap');


/* root styling */
:root{
    --light: transparent;
    --secondary: #adb5bd;
    --dark: #343a40;
    --primary-color: #5F9EA0;
    --secondary-color: #2ec4b6;
    --border: #e9ecef;
}

body{
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background-image: url("/Volunteering-Club-Website/Images/background.png");
    background-attachment: fixed;
}

a{
    text-decoration: none;
}

*>*{
    box-sizing: border-box;
}

/* global styling */
.text-light{
    color: var(--light);
}

.text-secondary{
    color: var(--secondary);
}

.text-dark{
    color: var(--dark);
}

.text-primary{
    color: var(--primary-color);
}

.bg-light{
    background-color: var(--light);
}

.container{
    max-width: 1800px;
    padding: 20px;
    margin: auto;
}


/* section styling  */
/*------ Navigation menu------ */
.navbar{
    position:relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    
}

.nav-brand{
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    align-self: center;
    font-size: 32px;
}

.collapse{
    align-items: center;
    margin:20px;
}

.nav-link{
    font-size: 18px;
    margin: 12px;
    color: var(--dark);
    font-family: 'Poppins', sans-serif;
}

.search-box{
    display: inline;
    /* border-right: 1px solid var(--secondary); */
    padding-right: 12px;
    margin-right: 10px;
}

.nav-link:hover{
    color: var(--primary-color);
}

.toggle-button{
    font-size: 21px;
    background-color: transparent;
    border: none;
    position: absolute;
    right: 0;
    margin: 8px 10px;
    display: none;
}

.toggle-button:focus{
    outline: none;
}

.main-logo img{
    display: block;
    width: 200px;
    background: transparent;

}
/*------ Navigation menu------ */

/* Media Query */
@media(max-width: 900px){
    .navbar{
        flex-direction: column;
        
    }
}

@media(max-width: 574px){
    .toggle-button{
        display: initial;
    }

    .collapse{
        max-height: 0;
        overflow: hidden;
        transition: all 0.8s cubic-bezier(0.51,-0.15,0,0.98);
        width:175px;
        display: flex;
        text-align: left;
        align-items: left;
        justify-content: left;
        vertical-align: left;
    }

    .collapse.nav-link{
        display: flex;
        text-align: left;
        align-items: left;
        justify-content: left;
        vertical-align: left;
        


    }

    .search-box{
        border-right: none;
    }

    .collapse-toggle{
        max-height: 900px;
        width:185px;
       

    }
}

/* Main page */

.home-content{
    background-image: url(/Volunteering-Club-Website/Images/textured\ background.png);
    display: flex;
    justify-content: space-between;
    padding: 40px;
    width: 85%;
    margin: 5rem auto 0 auto;
    margin-bottom: 80px;
}

.home-content img{
    height:300px;

}

.home-content h1{
    margin: 0;
    margin-top: 20px;
    font-size: xxx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.home-content p{
    margin-right: 15px;
    font-size: 25px;
    font-family: 'Brush Script MT', cursive;
    font-style: italic;
}
/* /Main Page */